<div class="container-fluid" style="opacity: 95%">
  <!-- your content here -->

  <div class="alert alert-{{messageColour}}" colspan="12" style="text-align: center" *ngIf="nowGoingAppointment;else elseBlock">
    {{messageDisplay}}
  </div>
  <ng-template #elseBlock>
  </ng-template>

  <div class="alert alert-with-icon" data-notify="container">
    <i class="fas fa-envelope" data-notify="icon"></i>
    <button aria-label="Close" class="close" data-dismiss="alert" type="button">
      <i class="material-icons">close</i>
    </button>
    <span data-notify="message" style="margin-left: 75%"> {{curDate | date:'dd-MM-yyyy'}}&nbsp;&nbsp;  {{ time | date: 'hh:mm:ss a' }}</span>
  </div>
</div>



<div class="card" style="opacity: 95%">
  <div class="card-header card-header-icon card-header-info">
    <div class="card-icon">
      <i class="fas fa-calendar-alt"></i>
    </div>
    <h4 class="card-title"><b><b>My Calendar</b></b>
    </h4>
  </div>

  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
<!--        <th class="text-center">ID</th>-->
        <th class="text-center">Title</th>
        <th class="text-center">Case No</th>
        <th class="text-center">Client</th>
        <th class="text-center">Venue</th>
        <th class="text-center">Date</th>
        <th class="text-center">Time</th>
        <th class="text-center">Cancel</th>
        <th class="text-center">Done</th>
      </tr>
      </thead>

      <tbody>
      <tr *ngIf="searchItemValuesIf;else elseBlock">
        <td class="alert alert-danger" colspan="12" style="text-align: center">
          Event Not Found
        </td>
      </tr>
      <ng-template #elseBlock>

        <tr *ngFor="let appointment of appointments">
<!--          <td class="text-center">{{appointment._id}}</td>-->
          <td class="text-center">{{appointment.title}}</td>
          <td class="text-center">{{appointment.caseNo}}</td>
          <td class="text-center">{{appointment.client}}</td>
          <td class="text-center">{{appointment.venue}}</td>
          <td class="text-center">{{appointment.date}}</td>
          <td class="text-center">{{appointment.time}}</td>
          <td><button  class="btn btn-primary btn-round" href="#pablo"
                       style="float:right">
            <i class="fas fa-add"></i>
            Cancel
          </button></td>
          <td><button class="btn btn-primary btn-round" (click)="DoneAppointment()"
                      style="float:right">
            <i class="fas fa-add"></i>
            Done
          </button></td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>
</div>

