<!--<div class="container-fluid" style="opacity: 95%">-->

<!--  <div class="row">-->
<!--    <div class="col-2">Start date</div>-->
<!--    <div class="col-4">-->
<!--      <label>-->
<!--        <input [(ngModel)]="startDate"-->
<!--               class="form-control" name="date" type="date">-->
<!--      </label>&nbsp;&nbsp;-->
<!--      <button (click)="getAllClientsByDate()">find</button>-->
<!--    </div>-->
<!--    <div class="col-2">End date</div>-->
<!--    <div class="col-2">-->
<!--      <label>-->
<!--        <input [(ngModel)]="endDate"-->
<!--               class="form-control" name="date" type="date">-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
<!--<br/>-->

<div class="container-fluid" style="opacity: 95%">

  <div class="row filterBar">
    <div class="col-2">Filter By date</div>
    <div class="col-4" style="float: left">
      <label>
        <input [(ngModel)]="startDate"
               class="form-control" name="date" type="date" style="color: #0b3452; background-color: white">
      </label>&nbsp;
      <input class="btn-sm" type="submit" value="Find" (click)="getAllClientsByDate()"/>
    </div>
<!--    <div class="col-2">Find by Status</div>-->
<!--    <div class="col-4">-->
<!--      <label>-->
<!--        <select [(ngModel)]="status" class="dropdown" data-size="7" title="Single Select">-->
<!--          <option selected value="pending">pending</option>-->
<!--          <option value="done">done</option>-->
<!--        </select>&nbsp;-->
<!--        <input class="btn-sm" style="float: right" type="submit" value="Find" (click)="getAllClientsByDate()"/>-->
<!--      </label>-->
<!--    </div>-->
  </div>

</div>
<br/>


<div class="container-fluid" style="opacity: 95%">
  <div class="table">
    <div class="row thead">
      <div class="col-2">NIC</div>
      <div class="col-2">First Name</div>
      <div class="col-2">Last Name</div>
      <div class="col-2">Email</div>
      <div class="col-2">Mobile</div>
      <div class="col-2">Address</div>
    </div>
    <table class="container-fluid" *ngIf="searchItemValuesIf;else elseBlock">
      <tr class="row alert alert-danger" colspan="8" style="text-align: center">
        Appointment Not Found
      </tr>
    </table>
    <ng-template #elseBlock>
      <div *ngFor="let client of clients" class="row tbody">
        <div class="col-2">{{client.nic}}</div>
        <div class="col-2">{{client.firstName}}</div>
        <div class="col-2">{{client.lastName}}</div>
        <div class="col-2">{{client.email}}</div>
        <div class="col-2">{{client.phone}}</div>
        <div class="col-2">{{client.address}}</div>
      </div>
    </ng-template>

  </div>
</div>
