<div class="container-fluid" style="opacity: 95%">
  <div class="table">
  <div class="row thead">
    <div class="col-2">NIC</div>
    <div class="col-2">First Name</div>
    <div class="col-2">Last Name</div>
    <div class="col-2">Email</div>
    <div class="col-2">Mobile</div>
    <div class="col-2">Address</div>
  </div>
  <div class="row tbody" *ngFor="let client of clients">
    <div class="col-2">{{client.nic}}</div>
    <div class="col-2">{{client.firstName}}</div>
    <div class="col-2">{{client.lastName}}</div>
    <div class="col-2">{{client.email}}</div>
    <div class="col-2">{{client.phone}}</div>
    <div class="col-2">{{client.address}}</div>
  </div>
</div>
</div>
