input{
  width: 300px;
}

#Paragraph1,#Paragraph2,#Paragraph3 {
  width: 600px;
}

#title1{
  width: 400px;
}

placeholder{
  font-style: italic;
}

#ParagraphAffi{
  width: 80%;
  height: 40%;
}

#ParagraphAffiE{
  width: 80%;
  height: 40%;
}
