<div class="container-fluid" style="opacity: 95%">

  <div class="row filterBar">
    <div class="col-2">Filter By date</div>
    <div class="col-4" style="float: left">
      <label>
        <input [(ngModel)]="startDate"
               class="form-control" name="date" type="date" style="color: #0b3452; background-color: white">
      </label>&nbsp;
      <input class="btn-sm" type="submit" value="Find" (click)="getAllAppointmentsByDate()"/>
    </div>
    <div class="col-2">Find by Status</div>
    <div class="col-4">
      <label>
        <select [(ngModel)]="status" class="dropdown" data-size="7" title="Single Select">
          <option selected value="pending">pending</option>
          <option value="done">done</option>
        </select>&nbsp;
        <input class="btn-sm" style="float: right" type="submit" value="Find" (click)="getAllAppointmentsByStatus()"/>
      </label>
    </div>
  </div>

</div>
<br/>

<div class="container-fluid" style="opacity: 95%">
  <div class="table">
    <div class="row thead">
      <div class="col-1">Time</div>
      <div class="col-3">Title</div>
      <div class="col-2">Venue</div>
      <div class="col-2">Case No</div>
      <div class="col-2">Client</div>
      <div class="col-2">Status</div>
    </div>
    <table class="container-fluid" *ngIf="searchItemValuesIf;else elseBlock">
      <tr class="row alert alert-danger" colspan="8" style="text-align: center">
        Appointment Not Found
      </tr>
    </table>
    <ng-template #elseBlock>
    <div *ngFor="let appointment of appointment" class="row tbody">
      <div class="col-1">{{appointment.time}}</div>
      <div class="col-3">{{appointment.title}}</div>
      <div class="col-2">{{appointment.venue}}</div>
      <div class="col-2">{{appointment.caseNo}}</div>
      <div class="col-2">{{appointment.client}}</div>
      <div class="col-2">{{appointment.status}}</div>
    </div>
    </ng-template>
  </div>
</div>
