.area {
  width: 90%;
  padding: 15px;
  margin: 15px;
  border: 1px solid #333;
  background: rgba(0,0,0,0.7);
}

#dropZone {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 50px;
  text-align: center;
  font: 21pt bold arial;
  color: #0a6ebd;
}

.drop-file-over{
  background: #333;
}
